In [1]:
import pandas as pd
import numpy as np

In [2]:
email = 'suyashyeolekar@gmail.com'

In [3]:
email.split('@')

['suyashyeolekar', 'gmail.com']

In [4]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [5]:
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [6]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         4
dtype: object

In [7]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [9]:
tickers = pd.Series(tech_finance)

In [10]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [11]:
messy_names = ['alex  ', '  bo;bo ', '  carol']
messy_names

['alex  ', '  bo;bo ', '  carol']

In [12]:
mess = pd.Series(messy_names)
mess

0      alex
1      bo;bo
2       carol
dtype: object

In [15]:
mess = mess.str.replace(';', '')
mess

0     alex
1      bobo
2      carol
dtype: object

In [18]:
mess = mess.str.strip()
mess

0     alex
1     bobo
2    carol
dtype: object

In [20]:
mess = mess.str.capitalize()
mess

0     Alex
1     Bobo
2    Carol
dtype: object