In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

In [2]:
myyear = 2023
mymonth = 8
myday = 7
myhour = 6
mymin = 5
mysec = 40

In [3]:
mydate = datetime(myyear, mymonth, myday)
mydate

datetime.datetime(2023, 8, 7, 0, 0)

In [4]:
mytime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)

In [6]:
mytime

datetime.datetime(2023, 8, 7, 6, 5, 40)

In [7]:
mydate.year

2023

In [8]:
myser = ['Nov 3, 1990', '2003-08-07', None]

In [10]:
pd.Series(myser)

0    Nov 3, 1990
1     2003-08-07
2           None
dtype: object

In [11]:
timeser = pd.to_datetime(myser)

In [12]:
timeser

DatetimeIndex(['1990-11-03', '2003-08-07', 'NaT'], dtype='datetime64[ns]', freq=None)

In [13]:
timeser[0].day

3

### Date Formats
#### American date format: month/day/year
#### European date format: date/month/year

In [14]:
obvi_eurodate = '31-10-2020'

In [15]:
pd.to_datetime(obvi_eurodate)

C:\Users\suyas\AppData\Local\Temp\ipykernel_8200\2997769066.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(obvi_eurodate)

Timestamp('2020-10-31 00:00:00')

In [19]:
pd.to_datetime(obvi_eurodate).month_name()

C:\Users\suyas\AppData\Local\Temp\ipykernel_8200\3272996703.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(obvi_eurodate).month_name()

'October'

In [20]:
eurodate = '10-12-2020'

In [25]:
pd.to_datetime(eurodate,dayfirst=True)

Timestamp('2020-12-10 00:00:00')

In [26]:
pd.to_datetime(eurodate,dayfirst=True).month_name()

'December'

In [31]:
style_date = '10--Dec--2022'

In [32]:
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2022-12-10 00:00:00')

In [33]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [34]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [35]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [36]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [37]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [38]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [39]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [41]:
sales['DATE'].dt.month_name()

0       January
1      February
2         March
3         April
4           May
         ...
335    December
336     January
337    February
338       March
339       April
Name: DATE, Length: 340, dtype: object