In [2]:
import pandas as pd
import numpy as np

In [3]:
# Get current directory
import os

In [4]:
os.getcwd()

'e:\\ML Udemy\\ML & Data Science Udemy-20230530T121358Z-001\\ML _ Data Science Udemy\\Pandas'

In [5]:
os.listdir()

['00-Series.ipynb',
 '01_Dataframes1.ipynb',
 '02_Conditional filtering.ipynb',
 '03_Useful Methods.ipynb',
 '04_Missing Data.ipynb',
 '05_Group by Operations.ipynb',
 '06_Combining_Dataframes.ipynb',
 '07_text_methods.ipynb',
 '08 timedate method.ipynb',
 'Copy of 04-Missing-Data.ipynb',
 'example.csv',
 'Input and Output.ipynb',
 'movie_scores.csv',
 'mpg.csv',
 'my_excel_file.xlsx',
 'newfile.csv',
 'RetailSales_BeerWineLiquor.csv',
 'tips.csv']

## CSV- Reading and writing

In [6]:
df = pd.read_csv('example.csv')

In [7]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df = pd.read_csv('example.csv',index_col=0)

In [9]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [10]:
df.to_csv('newfile2.csv', index=True)

In [11]:
new = pd.read_csv('newfile2.csv', index_col=0)

In [12]:
new

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [13]:
df1 = pd.DataFrame(columns=(range(1,10), range(2,20)))

In [14]:
df1

Empty DataFrame
Columns: [(1, 2, 3, 4, 5, 6, 7, 8, 9), (2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)]
Index: []

In [15]:
df1.to_csv('tp.csv', index=True)

In [16]:
tp = pd.read_csv('tp.csv')

In [17]:
tp

Empty DataFrame
Columns: [Unnamed: 0, range(1, 10), range(2, 20)]
Index: []

## Excel- Reading and writing

In [20]:
df = pd.read_excel('my_excel_file.xlsx', sheet_name='First_Sheet')

In [21]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [22]:
df = pd.read_excel('my_excel_file.xlsx', sheet_name=None)

In [23]:
df

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [24]:
df['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [25]:
new = df['First_Sheet']

In [26]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [33]:
new.to_excel('example.xlsx', sheet_name='Second_Sheet', index=True)

In [34]:
df = pd.read_excel('example.xlsx', sheet_name='Second_Sheet')

In [35]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15